/* User settings  */
:root {
  --foreground-color: #80C8EC;
  --background-color: black;
  --font-family: sans-serif;
  --console-node-bg: #313748;
  --console-node-fg: #9FA5B8;
  --console-timestamp-fg: #ED715B;
  --console-line-fg: #6E748A;
  --negative-color: #EA3323;
  --window-foreground-color: black;
  --window-background-color: white;
  --window-hint-background:  rgba(0,0,0,0.15);
  --chart-bandwidth-color: #F19C81;
  --lcars-br: 0 25px 25px 0;
}

.instName {
  border-radius: 3px;
  padding: 1px 2px;
}

#chartArea {
  font-size: 0.69rem;
}

.chartSet {
  margin-top: 1rem;
  margin-bottom: 0;
  border: 5px solid #313748;
  border-right: none;
  border-top: none;
  border-radius: 0 10px;
  padding: 0 5px;
}

#chartArea .chartSet .heading {
  background: var(--console-node-bg);
  border-radius: var(--lcars-br);
  margin-top:0;
  position:relative;
  text-align: left;
}
#chartArea .chartSet .heading h2::after {
  content: " ";
  background-color: rgb(0, 0, 0);
  height: 3.5rem;
  top:0px;
  right: 2rem;
  width: 1rem;
  position:absolute;
  display:block;
  margin: 0 0.5rem;
}

#chartArea .chartSet .heading h2 {
  text-align: left;
  padding-left: 1rem;
  font-size: 1.5rem;
  line-height: 1rem;
}

#chartArea .chartSet .heading a {
  color: var(--console-node-fg);
}

.chartSet.error {
  background: transparent;
  border-color: var(--negative-color);
  border-top: none;
  border-right: none;
  border-width: 5px;
}


.chartSet.pause .heading {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 7H8V17H11V7Z" fill="%2380C8EC" /><path d="M13 17H16V7H13V17Z" fill="%2380C8EC" /></svg>') !important;
}

.chartSet.throttle .heading {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 11H1V13H3V11Z" fill="%2380C8EC" /><path d="M7 11H5V13H7V11Z" fill="%2380C8EC" /><path d="M9 11H11V13H9V11Z" fill="%2380C8EC" /><path d="M15 11H13V13H15V11Z" fill="%2380C8EC" /><path d="M17 11H19V13H17V11Z" fill="%2380C8EC" /><path d="M23 11H21V13H23V11Z" fill="%2380C8EC" /></svg>') !important;
}

.chartSet.uploading .heading {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.6569 11.2929L16.2427 12.7071L12 8.46444L7.75735 12.7071L6.34314 11.2929L12 5.63605L17.6569 11.2929Z" fill="%2380C8EC" /><path d="M17.6569 16.9497L16.2427 18.3639L12 14.1213L7.75735 18.364L6.34314 16.9498L12 11.2929L17.6569 16.9497Z" fill="%2380C8EC" /></svg>') !important;
}

.chartSet.throttle .heading,
.chartSet.pause .heading,
.chartSet.uploading .heading {
  background-position-x: 75% !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

#chartArea .chartSet.error .heading {
  background-color: var(--negative-color);
  color: black;
}

#chartArea .chartSet.error .heading a {
  color: black;
}

#chartArea canvas {
  border: none;
}

#metric {
  border: 5px solid #313748;
  border-right: none;
  border-top: none;
  border-radius: 0 10px;
  margin: 1px;
  width: calc(100% - 2rem);
  padding: 1rem;
  padding-top: none;
  margin-top:1rem;
  position: relative;
}

#metric h1 {
  background: var(--console-node-bg);
  left: 0;
  margin-left: -0.75rem;
  margin-top: -1rem;
  padding: 5px;
  padding-left: 1rem;
  color: var(--console-node-fg);
  line-height: 3rem;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 4rem);
}

#metric > div {
  position:relative;
}

#metric h1 a {
  color: var(--console-node-fg);
  text-decoration: none;
}

#metric h1::after {
  content: " ";
  background-color:var(--console-node-bg);
  height: calc(3rem + 10px);
  border-radius: var(--lcars-br);
  top: 0;
  width: 2rem;
  right: calc(0rem - 0.8rem);
  position:absolute;
  display:inline-block;
  margin: 0 0.5rem;
}

#toolbox {
  border-radius: 4rem;
  padding: 0 3rem;
  background-color: var(--console-node-bg);
  border: none;
  width: calc(100% - 6rem);
  flex-wrap: nowrap;
  justify-content: space-between ;
}

#toolbox .toolbox-button {
  border-left: 1rem solid var(--background-color);
  border-radius: 0;
  margin: 0;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  flex-grow: 1;
}

#toolbox .toolbox-button:last-of-type {
  border-right: 1rem solid var(--background-color);
}

#toolbox .icon {
  background-color: var(--console-node-fg);
}

#toolbox .label {
  color: var(--console-node-fg);
  text-align: center;
}

.window {
  background: var(--background-color);
  border: 4px solid var(--console-line-fg); 
  color: var(--console-line-fg);
}

button, .window input, textarea {
  border-radius: 10px;  
  background-color: var(--console-line-fg);
  color: var(--background-color);
  font-weight: bold;
  border: none;
}

.window input, textarea {
  background: var(--background-color);
  border: 4px solid var(--console-line-fg);
  color:  var(--console-line-fg);
}

::-webkit-scrollbar {
  display: block;
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #1D212B;
}

::-webkit-scrollbar-thumb {
  background-color: #35627B;
  border-top: 10px solid #254356;
  border-bottom: 10px solid #254356;
}